.navbar__navbar {
  position: sticky;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
  top: 0px;
  z-index: 1;
  background-color: darken($color: $primary, $amount: 5);
}
.navbar__list {
  display: flex;
  padding: 0;
  list-style-type: none;

  li {
    padding: 0 1rem;

    a {
      cursor: pointer;
    }
  }
}
