.navbar__navbar {
  position: sticky;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  top: 0px;
}
.navbar__list {
  display: flex;
  padding: 0;
  list-style-type: none;

  li {
    padding: 0 1rem;
  }
}
